In [15]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
import pandas as pd
import iqfeed as iq

In [17]:
ticker = 'SPY'
interval = 60
start = 20180101
end = 20201203

In [18]:
df = iq.download_ticker(ticker,interval,start,end)

Downloading historical data for symbol: SPY

In [19]:
df

              date      time     open    high     low     close   volume
0       2018-01-02  09:31:00  267.840  267.89  267.67  267.7300  1164907
1       2018-01-02  09:32:00  267.730  267.74  267.60  267.6199   472361
2       2018-01-02  09:33:00  267.615  267.77  267.60  267.6900   262439
3       2018-01-02  09:34:00  267.690  267.70  267.54  267.5500   301185
4       2018-01-02  09:35:00  267.545  267.60  267.46  267.4700   317255
...            ...       ...      ...     ...     ...       ...      ...
286998  2020-12-03  15:56:00  365.705  365.89  365.66  365.8100   634242
286999  2020-12-03  15:57:00  365.820  366.15  365.82  365.9099   582005
287000  2020-12-03  15:58:00  365.895  366.06  365.64  365.7000   609906
287001  2020-12-03  15:59:00  365.710  366.04  365.69  366.0400   727587
287002  2020-12-03  16:00:00  366.020  366.70  365.88  366.6698  2364841

[287003 rows x 7 columns]